services:
  dev:
    image: ghcr.io/flipstone/purescript-tools:debian-trixie-purescript-0.15.15-2025-08-16-e7d0e5b
    environment:
      IN_CONTAINER: 'true'
    stdin_open: true
    tty: true
    volumes:
      - .:/purescript-erumu
    command: ./scripts/build
    working_dir: /purescript-erumu

