services:
  dev:
    image: ghcr.io/flipstone/purescript-tools:debian-stable-purescript-0.15.15-2025-01-02-0b0c689
    environment:
      IN_CONTAINER: 'true'
    stdin_open: true
    tty: true
    volumes:
      - .:/purescript-erumu
    command: ./scripts/build
    working_dir: /purescript-erumu

